<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vuejs</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
  <div id="root">
    <div class="header-logo">
      <img src="img/logo.png" alt="">
    </div>
    <div class="header-input">
      <input v-model="inputMessage" @keyup.13="pushing" placeholder="Nuovo ToDo">
      <button type="button" name="button" @click="pushing">Submit</button>
    </div>
    <div class="important-box">
      <p class="important" v-for="element in importantInput">{{element}}</p>
    </div>
    <div class="main-content">
      <div :class="" v-for="(i,index) in arrayInput">
        <p class="content">Da Fare: {{i}}</p><span @click="eliminate(index)">X</span><span @click="important(index)">!</span>
      </div>
    </div>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
